<app-topnav></app-topnav>
<app-sidenav></app-sidenav>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="services.component.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
      <div class="services">Services</div>
      <div class="line2"></div>
      
      <div class="text">
        Here you can showcase your services.
      </div>

      <div class ="button">
        <button type ="button" class="services-child3"  (click)="openModalpopup()">
          <span class="add-service">Add Service</span>
        </button>
      </div>

       <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Service</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="applyForm" (submit)="Insert()">
          <div class="form-group">
            <label for="serviceTitle">Service Title:</label>
            <input formControlName="serviceTitle" type="text" class="form-control" id="serviceTitle" placeholder="Enter service title">
          </div>
          <div class="form-group">
            <label for="serviceDescription">Service Description:</label>
            <textarea formControlName="serviceDesc" class="form-control" id="serviceDescription" rows="3" placeholder="Enter service description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
  </body>