<app-topnav></app-topnav>
<app-sidenav></app-sidenav>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="accomplishments.component.css" />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  />
</head>
<body>
  <h1>kikkfsdfsdhjf</h1>
  <div class="accomplishments">Accomplishments</div>
  <div class="line2"></div>

  <div class="text">Here you can showcase your accomplishments.</div>

  <div class="button">
    <button
      type="button"
      class="accomplishments-child3"
      (click)="openModalpopup()"
    >
      <span class="add-accomplishment">Add Accomplishment</span>
    </button>
  </div>

  <!-- Accomplishment Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Upload a New Accomplishment
          </h5>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="applyForm"
            (submit)="Insert()"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="accomplishmentTitle">Accomplishment Title:</label>
              <input
                formControlName="accomTitle"
                type="text"
                class="form-control"
                id="accomplishmentTitle"
                placeholder="Enter accomplishment title"
              />
            </div>
            <div class="form-group">
              <label for="accomplishmentDescription"
                >Accomplishment Description:</label
              >
              <textarea
                formControlName="accomDesc"
                class="form-control"
                id="accomplishmentDescription"
                rows="3"
                placeholder="Enter accomplishment description"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="accomplishmentImage">Accomplishment Image:</label>
              <input
                formControlName="accomImg"
                type="file"
                class="form-control-file"
                id="accomplishmentImage"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="closePopup()"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
