@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 100vw;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 80%;
    /*background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2));*/
    background: transparent;
    border-radius: 2rem;
    display: flex;
}

.dashboard {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem 0 0 0;
    padding: 2rem 0;
    backdrop-filter: blur(1rem);
}

.user {
    margin: 20px 0;
}

.user img {
    width:150px;
    border-radius: 50%;
}

hr {
    width: 140px;
    height: 2px;
    border: 0;
    background-image: linear-gradient(to right, transparent, #c0c0c0, transparent);
}

.tabMenu button.active {
    color: rgba(0, 46, 145, 0.7);
}

.tabMenu button:hover {
    background-color: rgba(255,255,255,0.7);
}

.tablinks {
    padding: 10px 0;
    width: 250px;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    background-color: #fafafa;
}

.tabcontent {
    background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding: 2em;
    width: 100%;
    border-radius: 0 0 2rem 0;
    backdrop-filter: blur(1rem);
}

.inner-content {
    animation: fadeEffect 1s;
}

.jobDesc {
    padding-left: 20px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.skillColumn {
    padding-top: 20px;
}

.menu-footer {
    position:absolute;
    bottom: 10px;
    font-size: 0.6em;
}

.socials {
    margin: 5px 0;
    color: #fff;
}

.socials a {
    padding: 0 5px;
    cursor: pointer;
}

/*LOADING SKILL BARS*/
.skillcontainer {
    width: 50%;
    margin:0 auto;
}

.bar {
    background-color: #dcdcdc;
    padding: 2px;
    border-radius: 0 15px 15px 0 ;
    border: #c9c9c9 solid 1px;
    margin-bottom: 5px;
    font-size: 10px;
    color: #000;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #ff0000;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.front::before {
    background-color: #32cd32;
}

.bar.back::before {
    background-color: #ffa500;
}

.bar.learning::before {
    width: calc(20% - 10px);
}

.bar.basic::before {
    width: calc(40% - 10px);
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}

.bar.advanced::before {
    width: calc(80% - 10px);
}

.bar.excellent::before {
    width: calc(90% - 10px);
}

.bar.expert::before {
    width: calc(95% - 10px);
}





/*ANIMATION PROPERTIES*/

/*FADE IN EFFECT ANIMATION FOR LOADING CONTENTS ON TABS*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;};    
}

/*LOADING EFFECT ANIMATION FOR SKILLS*/
@keyframes load {
    from {width: 0%}
}
@-webkit-keyframes load {
    from {width: 0%}
}
@-moz-keyframes load {
    from {width: 0%}
}
@-o-keyframes load {
    from {width: 0%}
}