*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

p {
    padding: 1em 0;
}

.main {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5em 1.5em;
    grid-gap: 1em;
    height: 100vh;
}   

.glass {
    min-height: 90vh;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.2));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    overflow: hidden;
}

.dashboard {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    border-radius: 1em;
    z-index: 1;
}

.dashboard button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold; 
    padding: 1.5rem 1rem 1.5rem 1rem ; 
    border: 0;
}

.dashboard svg{
    width: 2rem;
    height: 2rem;
    transition: all 200ms ease-in;
    padding-bottom: 0.3rem;
}

.content-area {
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.3s;
    margin: 1em;
}

.inner-content {
    text-align: justify;
}
#content1 {
    padding: 1rem;
    position: absolute;
    top:0;
    left: 0;
}

#content2 {
    opacity: 0;
    padding: 1rem;
    position: absolute;
    top:0;
    left: 0;
}

#content3 {
    opacity: 0;
    padding: 1rem;
    position: absolute;
    top:0;
    left: 0;
}

#content4 {
    opacity: 0;
    padding: 1rem;
    position: absolute;
    top:0;
    left: 0;
}

#content5 {
    opacity: 0;
    padding: 1rem;
    position: absolute;
    top:0;
    left: 0;
}

#content6 { 
    opacity: 0;
    padding: 1rem;
    
}

/* FOR SMALLER DEVICES */
@media screen and (max-width:550px){
    .main {
        min-height: 100vh;
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    } 

    .glass {
        background: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.2));
        min-height: 90vh;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 0rem;
        z-index: 1;
        backdrop-filter: blur(2rem);
    }

    .dashboard {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background: linear-gradient(to right top, rgba(255,255,255,0.3), rgba(255,255,255,0.2));
        border-radius: 1rem;
        bottom: 20px;
        position: absolute;
        z-index: 1;
    }
    .dashboard button {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        outline: none;
        cursor: pointer;
        font-size: 0.5rem;
        font-weight: bold; 
        padding: 0.5rem;
        border: 0;
    }
    
    .dashboard svg{
        width: 1.5rem;
        height: 1.5rem;
        transition: all 200ms ease-in;
        padding-bottom: 0.3rem;
    }

    .inner-content {
        margin: 1rem;
        align-items: center;
        padding: 0.5rem;
    }

    .footer {
        display: none;
    }
    
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.8em;
    color:#081c15;
    font-weight: 400;
}