<app-topnav></app-topnav>
<app-sidenav></app-sidenav>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="aboutme.component.css" />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  />
</head>
<body>
  <div class="aboutme">About Me</div>
  <div class="line2"></div>

  
  <!-- <div class="button">
    <button type="button" class="photo-child3" (click)="openModalpopup()">
      <span class="add-photo">Upload a New Photo</span>
    </button>
  </div> -->
  <!-- Modal -->
  <!-- <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Upload a New Photo
          </h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="formImg">
            <div class="form-group">
              <label for="projectImage"></label>
              <input
                formControlName="aboutImg"
                type="file"
                class="form-control-file"
                id="projectImage"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="closePopup()"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="button">
    <button type="button" class="bio-child3"   (click)="openModalpopupbio()">
      <span class="add-bio">Create Bio</span>
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenterBio"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create Bio</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="applyForm" (submit)="Insert()">
            <div class="form-group">
              <label for="createBio"></label>
              <textarea
                formControlName="aboutText"
                class="form-control"
                id="createBio"
                rows="3"
                placeholder="Enter your bio"
              ></textarea>
            </div>
            <div class="form-group" style="margin: 20px 0">
              <label for="aboutImg">Profile: </label>
              <br>
              <input
                formControlName="aboutImg"
                type="file"
                class="form-control-file"
                id="aboutImg"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="closePopupbio()"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
