<nav
style="background-color: #40916c"
class="navbar navbar-expand-lg fixed-top navbar-dark navbarScroll"
>
<div class="container">
  <a class="navbar-brand" href="#">Unfold</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          *ngIf="userDetails.is_admin === 0"
          routerLink="/Home"
          >Main menu</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="userDetails.is_admin === 0"
          routerLink="/newsfeed"
          >Newsfeed</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="userDetails.is_admin === 0"
          routerLink="/viewport"
          >View Portfolio</a
        >
      </li>
      <!-- <li class="nav-item">
                  <a class="nav-link" >Portfolio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" >Contact</a>
              </li> -->
    </ul>
  </div>
</div>
</nav>
<main
  style="
    text-decoration: none;
    height: auto;
    margin-top: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
  *ngFor="let student of studentList"
>
  <div style="width: 30%" class="card">
    <a style="text-decoration: none" href="">
      <img
        src="https://miro.medium.com/v2/resize:fit:1100/format:webp/0*p_fJnHsjtBlCF7jL.jpeg"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body"
        style="display: flex; flex-direction: column; gap: 20px"
      >
        <b style="margin-bottom: 0" class="card-title text-black me-2"
          >{{ student.firstName }} {{ student.lastName }}</b
        >

        <b style="color: #40916c; margin-bottom: 0" class="card-title me-2">{{
          student.course
        }}</b>

        <b style="color: #40916c; margin-bottom: 0" class="card-title me-2">{{
          student.school
        }}</b>
        <p class="card-text text-black">
          {{ student.aboutText }}
        </p>
        <button
          style="background-color: #40916c"
          class="btn btn-primary"
          (click)="ViewPortfolio($event, student.studentID)"
        >
          View Portfolio
        </button>
      </div>
    </a>
  </div>
</main>
<div style="z-index: 100">
  <!-- <app-topnav></app-topnav> -->
</div>
