*, .text-center{
  font-family: 'Poppins', 'sans-serif';
}
hr {
  width: 100%; /* Set the width to 100% */
  margin: 0; /* Remove any default margins */

}
.text-center{
  font-size: 30px;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* hero background image */
.bgimage {
  height:100vh;
  /* background: url('images/heroImage.jpeg'); */
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: capitalize;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
} */

/* Adjustments for project section */
#portfolio .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Optional: distribute space between project cards */
}

#portfolio .card {
  width: 100%; /* Optional: Ensure each card takes up the full width of its container */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* accomplishment section css */
.accomText.card {
  height: 280px;
  cursor: pointer;
}
.accomIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card:hover .accomIcon {
  color: #008000;
}
.accomText:hover {
  border: 1px solid #008000;
}
#accomplishment .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Optional: distribute space between project cards */
}

#accomplishment .card {
  width: 100%; /* Optional: Ensure each card takes up the full width of its container */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}



/* skill section css */
.skillText.card {
  height: 280px;
  cursor: pointer;
}
.skillIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .skillIcon {
  color: #008000;
}
.skillText:hover {
  border: 1px solid #008000;
}
#skill .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Optional: distribute space between project cards */
}

#skill .card {
  width: 100%; /* Optional: Ensure each card takes up the full width of its container */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}
#services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Optional: distribute space between project cards */
}

#services .card {
  width: 100%; /* Optional: Ensure each card takes up the full width of its container */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
