/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%;
    margin: 0; 
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #b2e7cb, #d6fde9); /* Apply gradient background */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
